<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

	<div class="container-fluid tab-bar">
        <ul class="nav bg-info d-flex justify-content-center flex-nowrap">
            <li class="nav-item">
                <a class="nav-link link-light" href="/"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/new_report">Новый отчет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/sent_reports">Отправленные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/pending_reports">Ждут отправки</a>
            </li>
        </ul>
	</div>

	<script>
        document.querySelectorAll('.tab-bar a').forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault(); 
                let url = this.getAttribute('href'); 
                fetchPage(url); 
            });
        });

        function fetchPage(url) {
            fetch(url) 
                .then(response => response.text()) 
                .then(html => {
                    document.body.innerHTML = html; 
                    window.history.pushState({}, '', url); 
                })
                .catch(error => console.error('Ошибка загрузки страницы:', error));
        }
    </script>

</body>
</html>