<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Навигация</title>
</head>
<body>
<div class="button-container">
    <button onclick="window.location.href='{% url 'mars_base' %}'">
        <img src="{% static 'mars.png' %}" alt="Клиент Марса">
    </button>
    <button onclick="window.location.href='{% url 'earth_base' %}'">
        <div class="wrapper">
            <img src="{% static 'earth.png' %} " alt="Клиент Земли">
        </div>
    </button>
</div>
</body>
</html>