/* Общие стили для кнопок */
button {
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block; /* Делаем кнопки строчно-блочными элементами */
    text-align: center; /* Выравниваем содержимое кнопки по центру */
}

/* Стили для изображений внутри кнопок */
button img {
    width: 100px; /* Ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    display: block; /* Делаем изображения блочными элементами, чтобы отображались по центру кнопки */
    margin: 0 auto; /* Выравниваем изображение по центру кнопки по горизонтали */
}

/* Стили для контейнера кнопок */
div.button-container {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 150px; /* Задаем фиксированную высоту */
}
