body {
    margin: 0;
    padding: 0;
    height: 50px;

}

.logo{
    display: flex;
    height: 80px;  
    margin: -10px;
}

.top-bar{    
    margin: -8px;
    background-color: #175663;
}

#content {
    color:#fff ;
}

#topBar .bar-item .content {
     display: flex;
    justify-content: center; 
    align-items: center;
}