body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: Arial, sans-serif;
}

/*topbar*/
iframe{
  width: 100%;
  height: 150px; 
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  border: none; 
  z-index: 1000;
  transition: top 0.3s; 
}

body.scrolled iframe {
  top: -150px; 
}

 
/*таблица*/
table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
 
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-top: 40px;
}
