<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'mars.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/mars_base.css' %}">
    <title>{{ title }}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <script>
        document.querySelectorAll('.tab-bar a').forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                let url = this.getAttribute('href');
                fetchPage(url);
            });
        });

        function fetchPage(url) {
            fetch(url)
                .then(response => response.text())
                .then(html => {
                    document.body.innerHTML = html;
                    window.history.pushState({}, '', url);
                })
                .catch(error => console.error('Ошибка загрузки страницы:', error));
        }
    </script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="logo navbar-brand" href="/">
            <img src="{% static 'postfox.png' %}" alt="Space Mail">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_report' %}">Новый отчет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sent_reports' %}">Отправленные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pending_reports' %}">Ждут отправки</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% block content %}

{% endblock %}

</body>
</html>