<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="pending.css">
	<title>waiting report</title>
</head>
<body>
{#	<iframe src="../topbar/topbar.html" frameborder="0" width="100%" height="100%"></iframe>#}
{% include "../topbar/topbar.html" %}
	<h1>Отчеты ждут отправки</h1>
	<table>
	    <thead>
	        <tr>
	            <th>№</th>
	            <th>Имя файла</th>
	            <th>Дата создания</th>
	            <th>Дата отправки</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>1</td>
	            <td>Отчет_1.pdf</td>
	            <td>2024-03-04</td>
	            <td>-</td>
	        </tr>
	        <tr>
	            <td>2</td>
	            <td>Отчет_2.pdf</td>
	            <td>2024-03-04</td>
	            <td>-</td>
	        </tr>

	        <tr>
	            <td>3</td>
	            <td>Отчет_3.pdf</td>
	            <td>2024-03-04</td>
	            <td>-</td>
	        </tr>
	    </tbody>
	</table>

</body>
</html>