<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new report</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{#	<iframe src="../topbar/topbar.html" frameborder="0" width="100%" height="100%"></iframe>#}
{% include "topbar.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center flex-nowrap">
        <h1>Новый отчет</h1>
    </div>
    <form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    
    </div>
</div>
</body>
</html>
{% endblock %}
