<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ждут отправки</title>
</head>
<body>
{#	<iframe src="../topbar/topbar.html" frameborder="0" width="100%" height="100%"></iframe>#}
{% include "topbar.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center flex-nowrap">
        <h1>Отчеты ждут отправки</h1>
    </div>
    <div class="d-flex justify-content-center flex-nowrap">
        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>Имя файла</th>
                <th>Дата создания</th>
                <th>Дата отправки</th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr>
                    <td>{{ report.id }}</td>
                    <td>{{ report.name }}</td>
                    <td>{{ report.release_date }}</td>
                    <td>-</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
{% endblock %}
